<div class="modal-header">
    <h3>Add Note</h3>
</div>
<div class="modal-body">
    <form ng-submit="saveNote()">

        <label>
            <input type="radio" ng-model="todo.priority" value="LOW">
            LOW
        </label><br/>
        <label>
            <input type="radio" ng-model="todo.priority" value="HIGH">
            HIGH
        </label>

        <div class="form-group">
            <label for="note">Note (required):</label>
            <textarea class="form-control" rows="5" id="note" ng-model="todo.note" required></textarea>
        </div>

        <button type="submit" class="btn btn-danger">Save</button>
    </form>
</div>